body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 40px;
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 10px; 
    margin-bottom: 160px; 
}

.box {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #d0d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-right: 10px;
}

.box:hover {
    background-color: yellow; 
    color: goldenrod; 
}

.bottom {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 100px; 
    height: 150px; 
    background-color: #eeeff2;
    border-left: 10px dotted #d0d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 40px;
    margin: 0; 
}

.bottom:hover {
    background-color: yellow; 
    color: goldenrod; 
}
